<div class="chats-header">
	<h1>Here are all your chats:</h1>

<% if @chats.exists? %>
	<h4>Here are chats from your time slots:</h4>
		<%= link_to "/slots/#{@slots}/chats/#{@chat}",  class: 'btn btn-warning' do %>
		<i></i> Chat
	<% end %>
<% end %>

<% if @slots.exists? %>
	<h4>Here are chats that you are interested in:</h4>
		<%= link_to "/slots/#{@slot}/chats/#{@chats}",  class: 'btn btn-success' do %>
		<i></i> Chat
	<% end %>
<% end %>

<% if @chats.blank? %>
<h4>There are no chats as of now.</h4>
<% end %>

</div>