<div class="chats-header">
	<h1>Here are all your chats:</h1>


	<% @chats.each do |all_chats| %>
	<% @slots.each do |all_slots| %>

	<% if all_chats.blank? %>
		<h4>There are no chats as of now.</h4>
	<% end  %>

	<% if (current_user.id === all_chats.slot_creator_id) && (current_user.id != all_chats.worker_id)  %>
	<h4>Here are chats from your time slots:</h4>

	<%= link_to "/slots/#{all_slots.id}/chats/#{all_chats.id}",  class: 'btn btn-warning' do %>
	<i></i> Chat
	<% end %>  
	
	<% elsif (current_user.id != all_chats.slot_creator_id) && (current_user.id === all_chats.worker_id) %>
	<h4>Here are chats that you are interested in:</h4>

	<%= link_to "/slots/#{all_slots.id}/chats/#{all_chats.id}",  class: 'btn btn-success' do %>
	<i></i> Chat
	<% end %>
	
	<% elsif (current_user.id != all_slots.slot_creator_id) && (current_user.id != all_chats.worker_id) %>
	<h4>There are no chats as of now.</h4>
	<% end %>
	
	<% end %>
	<% end %>
</div>