// Place all the styles related to the images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.images-header {
	margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  color: #cc8500;
}

.img-responsive {
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

div.col-md-3.col-sm-3.col-xs-6 {
	padding: 15px;
}