/* pushing to the left side you can use float if need bee */

#logo {
	padding-top: 0px;
}

.navigation-left {
  top: 150px;
  z-index: 1;
}

.container-fluid {
	display: fixed;
	height: 120px;
	padding-top: 10px;
	color: black;
	font-size: 120%;
	top: -20px;
}


