#logo {
	padding-top: 0px;
}

.container-fluid {
	background: rgba(255, 255, 255, 0.6);
	height: 110px;
	padding-top: 10px;
	font-size: 120%;
}

.nav.navbar-nav.navbar-right li a {
  color: black;
}

a.navbar-brand {
	color: black;
}

form#search-form.navbar-form.navbar-left {
	padding: 0;
}