// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header-space {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 100px;
  background: orange;
  text-align: center;
}

.header-space-text {
  margin-left: 100px;
  margin-right: 100px;
  color: white;
  text-align: center;
}

.profile-header {
  margin-top: 80px;
  margin-left: 20px;
  margin-right: 20px;
}

.card-img-top {
  border-radius: 50%;
}

.card-deck-wrapper {
  display: inline;
}

.card-deck {
  display: flex;
}

.profile-slot-time {
  text-align: center;
}

.card {
  background: rgba(255, 255, 255, 0.9);
}

.service-header {
  background-color: orange;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  margin: 0px;
}

li.list-group-item {
  background: rgba(255, 255, 255, 0);
}

#photos {
  /* Prevent vertical gaps */
  line-height: 0;
   
  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px;  
}

.container {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}