// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-header {
	margin-top: 80px;
	margin-left: 20px;
	margin-right: 20px;
}

.card-img-top {
	border-radius: 50%;
}

.card-deck-wrapper {
  display: inline;
}

.card-deck {
	display: flex;
}

.card {
  margin: 0 auto;
  float: none;
 }

.profile-slot-time {
	text-align: center;
}