// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header-space {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 100px;
  background: #cc8500;
  text-align: center;
}

.header-space-text {
  margin-left: 100px;
  margin-right: 100px;
  color: white;
  text-align: center;
}

.profile-header {
  margin-top: 80px;
  margin-left: 20px;
  margin-right: 20px;
}

.card-img-top {
  border-radius: 50%;
}

.card-deck-wrapper {
  display: inline;
}

.card-deck {
  display: flex;
}

.profile-slot-time {
  text-align: center;
}

.card {
  background: rgba(255, 255, 255, 0.9);
}

.service-header {
  border-bottom: 2px solid #cc8500;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px;
}

li.list-group-item {
  background: rgba(255, 255, 255, 0);
}

.phone h3 {
  color: #cc8500;
}

.contact-form {
  background: rgba(255, 255, 255, 0.9);
  margin-left: 100px;
  margin-right: 100px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}

.contact-wrapper {
  background: #cc8500;
  padding-top: 10px;
  padding-bottom: 1px;
}