// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit-user-form {
    margin-top: 120px;
    margin-left: 20px;
    margin-right: 20px;
}

.login-form {
    margin-top: 120px;
    margin-left: 20px;
    margin-right: 20px;
}

.new-user-form {
    margin-top: 120px;
    margin-left: 20px;
    margin-right: 20px;
}